{{define "header"}}
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="/static/htmx.min.js"></script>
  <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
{{end}}

{{define "footer"}}
<div id="errorbox">
  <h3><i>WARNING</i></h3>
  <p id="errortext">Some text here!!</p>
</div>
</body>
</html>

<script>
  document.body.addEventListener("showError", function(evt){
   document.getElementById('errortext').innerHTML = evt.detail.value;
   document.getElementById('errorbox').style.opacity = 1;
   setTimeout(function () { 
      document.getElementById('errorbox').style.opacity = 0;
   }, 2000);
  });
</script>
{{end}}