<div id="accounttab">
<button hx-post="/page-accounts" hx-target="#accounttab" hx-swap="outerHTML">Back to Accounts</button>
<form class="grid-form">
	<h2 style="grid-column: 1 / span 2;">Account Details</h2>
	<label for="fname">First Name:</label>
	<input type="text" id="fname" name="fname" value="{{.Profile.FirstName}}" required>
	<label for="lname">Last Name:</label>
	<input type="text" id="lname" name = "lname" value="{{.Profile.LastName}}" required>
	<label for="uname">Login Username:</label>
	<input type="text" id="uname" name="uname" value="{{.Profile.Username}}" disabled>
	<label for="status">Account Status</label>
	<select id="status" name="status" value="{{.Profile.StatusValue}}" required>
		<option value="active" {{if eq .Profile.StatusValue "active"}}selected{{end}}>Active</option>
		<option value="inactive" {{if eq .Profile.StatusValue "inactive"}}selected{{end}}>Inactive/Disabled</option>
		<option value="admin" {{if eq .Profile.StatusValue "admin"}}selected{{end}}>Administrator</option>
	</select>
	<button hx-post="/account-update" hx-target="#accounttab" hx-swap="outerHTML" hx-include="closest form" hx-vals='{"accid": "{{.Profile.AccountID}}"}' style="grid-column: 1 / span 2;">Update Account</button>
</form>

</div>