<div id="accountcodetab">
<button hx-post="/page-accountcodes" hx-target="#accountcodetab" hx-swap="outerHTML">Back to PIN codes</button>
<form class="grid-form">
	<h2 style="grid-column: 1 / span 2;">Gate PIN Code</h2>

	<label for="code">PIN (numbers only):</label>
	<input type="text" id="code" name="code" value="{{.AccountCode.Code}}" disabled>
	<label for="label">Description:</label>
	<input type="text" id="label" name = "label" value="{{.AccountCode.Label}}" placeholder="who will use this code?" required>
	<label for="isactive">Is Active?</label>
	<input type="checkbox" id="isactive" name = "isactive" {{if .AccountCode.IsActive}}checked{{end}}>
	<hr style="grid-column: 1 / span 2;">
	<h2 style="grid-column: 1 / span 2;">Notification Tag</h2>
	<p style="grid-column: 1 / span 2;">Pick one of these to indicate which type of access this code indicates.</p>
	<label for="isutility">Is Utility Company?</label>
	<input type="checkbox" id="isutility" name = "isutility" {{if .AccountCode.IsUtility}}checked{{end}}>
	<label for="isdelivery">Is Delivery Company?</label>
	<input type="checkbox" id="isdelivery" name = "isdelivery"{{if .AccountCode.IsDelivery}}checked{{end}}>
	<label for="iscontractor">Is Contractor?</label>
	<input type="checkbox" id="iscontractor" name = "iscontractor" {{if .AccountCode.IsContractor}}checked{{end}}>
	<label for="ismail">Is Mail Service?</label>
	<input type="checkbox" id="ismail" name = "ismail"{{if .AccountCode.IsMail}}checked{{end}}>
	<label for="isprimary">Something Else</label>
	<input type="checkbox" id="isprimary" name = "isprimary">

	<hr style="grid-column: 1 / span 2;">
	<h2 style="grid-column: 1 / span 2;">Date/Time Restrictions (optional)</h2>
	<label for="dstart">Start Date:</label>
	<input type="date" id="dstart" name = "dstart" value="{{.AccountCode.DateStart.Format "2006-01-02"}}">
	<label for="dend">End Date:</label>
	<input type="date" id="dend" name = "dend" value="{{.AccountCode.DateEnd.Format "2006-01-02"}}">
	<label for="tstart">Start Time:</label>
	<input type="time" id="tstart" name = "tstart" {{if not .AccountCode.TimeStart.IsZero}}value="{{.AccountCode.TimeStart.Format "15:04"}}"{{end}}>
	<label for="tend">End Time:</label>
	<input type="time" id="tend" name = "tend" {{if not .AccountCode.TimeEnd.IsZero}}value="{{.AccountCode.TimeEnd.Format "15:04"}}"{{end}}>

	<h2 style="grid-column: 1 / span 2;">Valid Days of Week</h2>
	<p style="grid-column: 1 / span 2;">Uncheck days to prevent usage on that day</p>
	<label for="d_sunday">Sunday</label>
	<input type="checkbox" id="d_sunday" name = "d_sunday" {{if .AccountCode.HasDay "su"}}checked{{end}}>
	<label for="d_monday">Monday</label>
	<input type="checkbox" id="d_monday" name = "d_monday" {{if .AccountCode.HasDay "mo"}}checked{{end}}>
	<label for="d_tuesday">Tuesday</label>
	<input type="checkbox" id="d_tuesday" name = "d_tuesday" {{if .AccountCode.HasDay "tu"}}checked{{end}}>
	<label for="d_wednesday">Wednesday</label>
	<input type="checkbox" id="d_wednesday" name = "d_wednesday" {{if .AccountCode.HasDay "we"}}checked{{end}}>
	<label for="d_thursday">Thursday</label>
	<input type="checkbox" id="d_thursday" name = "d_thursday" {{if .AccountCode.HasDay "th"}}checked{{end}}>
	<label for="d_friday">Friday</label>
	<input type="checkbox" id="d_friday" name = "d_friday" {{if .AccountCode.HasDay "fr"}}checked{{end}}>
	<label for="d_saturday">Saturday</label>
	<input type="checkbox" id="d_saturday" name = "d_saturday" {{if .AccountCode.HasDay "sa"}}checked{{end}}>

	<button hx-post="/accountcode-update" hx-target="#accountcodetab" hx-swap="outerHTML" hx-include="closest form" hx-vals='{"acodeid": "{{.AccountCode.AccountCodeID}}"}' style="grid-column: 1 / span 2;">Update Gate Code</button>
</form>

</div>