# Basic reverse proxy to a local service
# Just change the ":8080" declaration to something like "localhost" or "www.mywebsite.com"
# when you want to hook up to global DNS
:8080 {
    reverse_proxy 127.0.0.1:8080
}