[Unit]
Description=gatemaster service

[Service]
ExecStart=/usr/local/bin/gatemaster /usr/local/etc/gatemaster.json
Restart=on-failure

[Install]
WantedBy=multi-user.target