{
    "host_url": "http://localhost:8081",
    "site_name": "MySiteName",
    "db_file": "/usr/local/share/gatemaster/db.sqlite",
    "logs_directory": "/var/log/gatemaster",
    "auth": {
        "jwttokenssecs": 3600
    },
    "email" : {
        "smtp_host": "smtp.gmail.com",
        "smtp_port": 587,
        "smtp_user": "emailAddressHere",
        "smtp_pass": "",
        "sender_email": "emailAddressHere"
    },
    "keypad_pins" : {
        "row1": 1,
        "row2": 2,
        "row3": 3,
        "row4": 4,
        "col1": 5,
        "col2": 6,
        "col3": 7
    },
    "camera" : {
        "rotation": 0,
        "width": 1024,
        "height": 768
    },
    "gate" : {
        "gpio_num" : 10,
        "invert_drive" : false
    },
    "lcd_i2c" : {
        "i2c_bus_number" : 1,
        "hex_address" : "0x27",
        "backlight_seconds" : 30,
        "i2c_pins" : {
            "en" : 8,
            "rw" : 9,
            "rs" : 10,
            "d4" : 11,
            "d5" : 12,
            "d6" : 13,
            "d7" : 14,
            "backlight" : 15
        }
    }

}